{% extends "shopifyapp/base.html" %}
{% load static %}

{%block head%}
<title>shopify-edit-product</title>
{% endblock %}        


{%block body%} 

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand d-flex align-items-center" href="shopifyapp\templates\shopifyapp\index.html">
    <h1> Edit Your Product Here </h1>
  </a>
</nav>
<br>
<!-- Navbar End -->

<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}

  <div class="form-group">
    <label for="name"> Product Name</label>
    <input type="text" class="form-control" value= "{{product.name}}" name = "pname"  aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="Discription">Discription</label>
    <input type="text" class="form-control" value= "{{product.discription}}" name = "discription">
  </div>

  <div class="form-group">
    <label for="Discription">Original Price</label>
    <input type="integer" class="form-control" value= "{{product.original_price}}" name = "oprice">
  </div>

  <div class="form-group">
    <label for="Discription">Discount Percentage</label>
    <input type="text" class="form-control" value= "{{product.discount_percentage}}" name = "dprice">
  </div>

  <div class="form-group">
    <label for="Discription">Image</label>
    <input type="file" class="form-control" value= "{{product.image}}" name = "image">
  </div>
  


  <button type="submit" class="btn btn-primary">Edit Product</button>
</form>

{%endblock%}